/* Tilbakestiller tekstdekorasjon for alle elementer */
* {
    text-decoration: none; /* Fjerner understrek for alle elementer */
}

/* Stilsetting for hele body */
body {
    font-family: Arial, Helvetica, sans-serif; /* Setter skrifttypen for hele dokumentet */
    overflow-x: hidden; /* Skjuler horisontal rullestang når innholdet er bredere enn vinduet */
    margin: 0; /* Fjerner margin fra kroppen */
    background-color: #D3D3D3; /* Bakgrunnsfarge for hele siden */
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 16px; /* Justerer skriftstørrelsen ved mindre skjermbredder */
    }

    .first,
    .second,
    .third {
        max-width: 100%; /* Sikrer at visse elementer tilpasser seg skjermens bredde */
        height: auto; /* Justerer høyden automatisk for å opprettholde proporsjoner */
    }

    main {
        max-width: 100%; /* Sikrer at hovedseksjonen tilpasser seg skjermens bredde */
        padding: 5%; /* Justerer padding for hovedseksjonen */
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px; /* Justerer skriftstørrelsen ved større skjermbredder */
    }

    .first,
    .second,
    .third {
        max-width: 100%; /* Sikrer at visse elementer tilpasser seg skjermens bredde */
        height: auto; /* Justerer høyden automatisk for å opprettholde proporsjoner */
    }
}

/* Stilsetting for layout */
.layout {
    box-sizing: border-box; /* Inkluderer padding og kant i elementets totale bredde og høyde */
    display: grid; /* Bruker CSS grid for layout */
    grid-template-areas:
        "header"
        "main"
        "footer"; /* Definerer områder for header, main, og footer i grid */
    grid-template-rows: auto 1fr auto; /* Angir høyden på grid-områdene */
    min-height: 400%; /* Angir minimumshøyde for layout */
}

/* Stilsetting for hovedinnholdet */
main {
    overflow-x: hidden; /* Skjuler horisontal rullestang når innholdet er bredere enn vinduet */
    justify-content: center; /* Sentrerer innholdet horisontalt */
}

/* Tilbakestiller margin og padding for alle elementer */
* {
    margin: 0; /* Fjerner margin fra alle elementer */
    padding: 0; /* Fjerner padding fra alle elementer */
}

/* Stilsetting for navigasjonen */
nav {
    width: 100%; /* Setter bredden til 100% av foreldrelementet */
    position: relative; /* Posisjonerer relativt til den normale posisjonen */
    z-index: 1; /* Angir stabelrekkefølgen av elementet */
}

/* Stilsetting for header */
header {
    grid-area: header;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5%;
    z-index: 0;
}

/* Stilsetting for navigasjonsbildet */
.nav_image {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.nav_image a {
    display: block;
}

/* Stilsetting for lenker i navigasjonen */
ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
}

ul li {
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
}

/* Høyrejusterer det siste elementet i navigasjonen */
.end-right {
    margin-left: auto;
}

/* Stilsetting for grid-container */
#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

/* Stilsetting for søkefelt */
.searchbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Stilsetting for kategori MEN */
.Men {
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Stilsetting for kategori WOMEN */
.Women {
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Stilsetting for kategori Junior */
.Junior {
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Stilsetting for kategori Sale */
.Sale {
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Stilsetting for kategori Outlet */
.Outlet {
    display: flex;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Stilsetting for brukerseksjon */
.costumer {
    display: flex;
    width: 50%;
    height: 150px;
    margin-top: 5%;
    margin-left: 25%;
}

/* Stilsetting for menn- og kvinnerkategorier */
.men_women {
    display: flex;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
    margin: 1.2rem 0; /* Legger til margin for å gi pusterom */
    text-decoration: none;
}

.men_women p {
    background-color: white;
}

.men_women a {
    width: 50%;
}

.first {
    display: flex;
    align-self: center;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
}

.second {
    display: flex;
    align-self: center;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
}

.third {
    display: flex;
    align-self: center;
    margin: 1.5rem 0;
    text-align: center;
    text-decoration: none;
}

.first img,
.second img,
.third img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Ekstra stilsetting for hovedinnholdet */
main {
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 10%;
    grid-template-areas: calc(399);
    grid-area: main;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

/* Stilsetting for filter-seksjon */
.filter {
    text-align: center;
    border: solid black;
    border-radius: 25%;
    background-color: gray;
    padding: 1%;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 91%;
}

/* Stilsetting for sorteringsseksjon */
.sort {
    text-align: center;
    border: solid black;
    border-radius: 25%;
    background-color: grey;
    padding: 1%;
    margin-left: 91%;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1%;
}

/* Stilsetting for produktbilder menn */
.men1 {
    width: 100px;
    height: 100px;
    justify-content: space-between;
    padding: 3%;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: 63px;
    margin-top: 7%;
}

/* Stilsetting for produktbilder kvinner */
.women1 {
    width: 100px;
    height: 100px;
    justify-content: space-between;
    padding: 3%;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: 63px;
    margin-top: 7%;
}

/* Stilsetting for Costumer-Club */
.Costumer-Club {
    display: block;
    border: 1px black solid;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

/* Stilsetting for registreringsseksjon */
.reg {
    margin-top: 10%;
}

/* Stilsetting for logginnseksjon */
.log {
    margin-top: 1.5rem;
}

/* Stilsetting for tekstseksjon 2 */
.text2 {
    text-align: center;
    margin-top: 6%;
    line-height: 2.2rem;
}

.delivery-ul li {
    border: 3px black solid;
    width: 1rem;
    margin-bottom: 1rem;
    display: flex;
    padding: 0.1%;
    align-items: center;
    margin-top: 1.5rem;
}

/* Stilsetting for tekstseksjon 1 */
.text1 {
    border: 1px black solid;
    background-color: grey;
    text-align: center;
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 5%;
}

/* Stilsetting for klikkseksjon */
.click {
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 1.5rem;
}

/* Stilsetting for leveringsul */
.delivery-ul {
    display: flex;
    border: 5px black solid;
    margin-left: 29%;
    margin-right: 27%;
    position: relative;
    margin-top: auto;
}

.footer p {
    text-align: left;
}

/* Stilsetting for footer1 */
.footer1 {
    background: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2%;
    bottom: 0;
    margin-top: 100px;
}

.footer {
    grid-area: footer;
    background:  darkgrey;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2%;
    bottom: 0;
    margin-top: 100px;
}
